doctype html
html
  head
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" type="text/css" href="css/jquery.fullPage.css")
  body
    != yield
    script(data-main="js/app" src="js/vendor/require.js")
