div#sidebar
  div#hearts
    a(href='#work')
      img#heart2.heart.svg(src="assets/heart.svg")
    a(href='#projects')
      img#heart3.heart.svg(src="assets/heart.svg")
    a(href='#contact')
      img#heart4.heart.svg(src="assets/heart.svg")
  div#startheart-container
    a(href='#hello')
      img#startheart.heart.svg(src="assets/heart.svg")

div#fullpage
  div#startpage.section(data-anchor="m") 
    div#letter
      div
        div#back M
        div#mid M
        div#front M
  div#hello-div.section(data-anchor="hello")
      div.title hello
        div.love love
  div#work-div.section(data-anchor="work")
    div.title 
      span.love W
      |ork
    div.body 
      div
        a(href="http://couchdb.apache.org/" target="_blank") Apache CouchDB
      div
        a(href="http://rsquareedge.com/" target="_blank") RSquareEdge
      div
        a(href="http://www.nyu.edu/" target="_blank") NYU
      div
        a(href="http://www.zoomdata.com/" target="_blank") Zoomdata
      div
        a(href="http://qz.com/" target="_blank") Quartz
      div
        a(href="https://cloudant.com/" target="_blank") IBM
      div DDO
      div
        a(href="http://corp.mode.com/" target="_blank") Mode Media
  div#projects-div.section(data-anchor="projects")
    div.title
      span.love P
      | rojects
    div.body 
      div Apache CouchDB Fauxton
      div Apache CouchDB Fauxton Visual Guide
      div ApacheCon: Core Budapest 2015
      div OpenProcessing
      div Relationship Visualizers
      div RaphealJS Tutorials
      div Interactive Book "Digital Logic"
  div#contact-div.section(data-anchor="contact")
    div.title 
      span.love C
      | ontact
    div.body 
      div
        span.gray email:
      div 
        a(class="email" href="mailto:michellephung@gmail.com?subject=Hi") michellephung@gmail.com
      div 
        a(class="email" href="mailto:michellep@apache.org?subject=Hi") michellep@apache.org
      br
      div
        a(href="http://github.com/michellephung" target="_blank") 
          span.gray github: 
          | michellephung
      div
        a(href="http://www.openprocessing.org/user/46913" target="_blank")
          span.gray openprocessing: 
          | michellep
      div
        a(href="http://webchat.freenode.net/" target="_blank")
          span.gray irc: 
          | michellep
      div
        a(href="https://delicious.com/michellep" target="_blank")
          span.gray del.icio.us: 
          | michellep
