div#sidebar
  div#hearts
    a(href='#projects')
      img#heart2.heart.svg(src="assets/heart.svg")
    a(href='#work')
      img#heart3.heart.svg(src="assets/heart.svg")
    a(href='#contact')
      img#heart4.heart.svg(src="assets/heart.svg")
  div#startheart-container
    a(href='#hello')
      img#startheart.heart.svg(src="assets/heart.svg")

div#fullpage
  div#startpage.section(data-anchor="m") 
    div#letter
      div
        div#back M
        div#mid M
        div#front M
  div#hello-div.section(data-anchor="hello")
      div.title hello
        div.love love
  div#projects-div.section(data-anchor="projects")
    div.title
      span.love P
      | rojects
    div.body 
      div 
        a(href="http://www.apache.org/" target="_blank") The Apache Software Foundation
          span.subtitle PMC
      div 
        a(href="https://www.npmjs.com/package/fauxton" target="_blank") Apache CouchDB Fauxton
          span.subtitle Committer
      div 
        a(href="http://apacheconcore2015.sched.org/speaker/michellep1?iframe=no&w=i:100;&sidebar=yes&bg=no" target="_blank") ApacheCon: Core Budapest 2015
          span.subtitle Speaker (Open Source)
      div 
        a(href="book/SinglePageView/index.html" target="_blank") Digital Book
          span.subtitle Book I made
      div 
        a(href="data_vis/relationshipvisualization/index.html" target="_blank") Relationship Visualizers
          span.subtitle Portfolio
      div 
        a(href="data_vis_tutorials/rel-vis-tutorials/index.html" target="_blank") RaphealJS Tutorials
          span.subtitle Portfolio
      div 
        a(href="http://www.openprocessing.org/user/46913" target="_blank") OpenProcessing
          span.subtitle Portfolio
      div 
        a(href="https://github.com/michellephung" target="_blank") Github
          span.subtitle Portfolio
  div#work-div.section(data-anchor="work")
    div.title 
      span.love W
      |ork
    div.body 
      div
        a() Goldman Sachs
          span.subtitle Technology Divison
      div
        a(href="https://www.sps.nyu.edu/professional-pathways/faculty/18726-michelle-phung.html" target="_blank") NYU
          span.subtitle Adjunct Instructor
      div
        a(href="http://www.zoomdata.com/" target="_blank") Zoomdata
          span.subtitle Software Engineer
      div
        a(href="http://rsquareedge.com/" target="_blank") RSquareEdge
          span.subtitle Instructor
      div
        a(href="https://cloudant.com/" target="_blank") IBM
          span.subtitle Software Engineer
      div 
        a(href="https://dubberly.com/" target="_blank") DDO
          span.subtitle Programming and Design
      div
        a(href="http://corp.mode.com/" target="_blank") Mode Media
          span.subtitle Engineering Tools Intern
  
  div#contact-div.section(data-anchor="contact")
    div.title 
      span.love C
      | ontact
    div.body 
      div
        span.gray email:
      div 
        a(class="email" href="mailto:michellephung@gmail.com?subject=Hi") michellephung@gmail.com
      div 
        a(class="email" href="mailto:michellep@apache.org?subject=Hi") michellep@apache.org
      br
      div
        a(href="http://github.com/michellephung" target="_blank") 
          span.gray github: 
          | michellephung
      div
        a(href="http://www.openprocessing.org/user/46913" target="_blank")
          span.gray openprocessing: 
          | michellep
      div
        a(href="http://webchat.freenode.net/" target="_blank")
          span.gray irc: 
          | michellep
      div
        a(href="https://delicious.com/michellep" target="_blank")
          span.gray del.icio.us: 
          | michellep
