div#sidebar
  div#hearts
    a(href='#work')
      img#heart2.heart.svg(src="assets/heart.svg")
    a(href='#projects')
      img#heart3.heart.svg(src="assets/heart.svg")
    a(href='#things')
      img#heart4.heart.svg(src="assets/heart.svg")
  div#startheart-container
    a(href='#hello')
      img#startheart.heart.svg(src="assets/heart.svg")
div#startpage 
  div#letter
    div
      div#back M
      div#mid M
      div#front M
div#hello.page
  div.title hello
    div.love love
div#work.page
  div.title Work
  div.body 
    div Apache CouchDB
    div RSquareEdge
    div NYU
    div Zoomdata
    div Quartz
    div IBM
    div DDO
    div Mode Media
div#projects.page
  div.title Projects
  div.body 
    div Apache CouchDB Fauxton
    div Apache CouchDB Fauxton Visual Guide
    div ApacheCon: Core Budapest 2015
    div OpenProcessing
    div Relationship Visualizers
    div RaphealJS Tutorials
    div Interactive Book "Digital Logic"
div#contact.page
  div.title Contact
  div.body 
    div
      span.gray email:
    div michellephung@gmail.com
    div michellep@apache.org
    br
    div 
      span.gray github: 
      | michellephung
    div 
      span.gray openprocessing: 
      | michellep
    div 
      span.gray irc: 
      | michellep
    div 
      span.gray del.icio.us: 
      | michellep
div#things.page
  div.title Things I like
  div.body
    div rainbows
    div color
    div patience
    div happiness
    div technology
    div kindness
    div food
    div snowboarding
    div thoughtfulness
    div puns
    div reading
    div weekends
    div doggies and kittys
    div history
    div swimming
    div kids
    div beverages
    div teaching
    div ui and design
    div love
    div learning
    div religion
    div music
    div LEDs
    div open source
    div art



