@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

$background: #f2f2f2;
$darkGray:rgba(102, 102, 102, 0.95);
$medGray: rgba(153, 153, 153, 0.9); 
$lightGray: rgba(220, 220, 220, 1); 

html, body {
  font-family: 'Fredoka One', cursive;
  background: $background;
  margin: 0;
  padding: 0;
  font-size: 20px;
  min-height: 100%;
  min-width: 100%;
}

#startpage {
  font-size: 40vh;
  font-weight: 700;
  height: 100vh;

  #letter {
    height: 100%;
    text-align: center;

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);


      #back {
        left: 0px;
        top: 0px;
        color: $darkGray;
      }
      #mid {
        left: 10px;
        top: 10px;
        color: $medGray;
      }
      #front {
        left: 20px;
        top: 10px;
        color: $lightGray;
      }
    }
  }
}

#startheart-container {
  -webkit-transition: bottom 1s; /* Safari */
  transition: bottom 1s, fill 0.5s;
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 20px;
  width: 50%;

  #startheart{
    fill: #666666;
    -webkit-transition: fill 0.5s;
    transition: fill 0.5s;
    height: 20px;
    &:hover {
      fill: #b3b3b3;
    }    
  }

  &.moveup {
    bottom: 60vh;
    #startheart{
      fill: black;

      &:hover {
        fill: #b3b3b3;
      }
    }
  }
}   

#hearts {
  height: 20px;
  width: 50%;

  .heart {
    position: absolute;
    bottom: 20px;
    right: 20px;
    -webkit-transition: bottom 1s, fill 0.5s;
    transition: bottom 1s, fill 0.5s;
    fill: rgba(0,0,0,0);
  }

  #heart2{
    height: 20px;
    &.moveup {
      fill: #4d4d4d;
      bottom: 50vh;
    }

    &:hover{
      fill: #b3b3b3;
    }
  }


  #heart3 {
    height: 20px;
    &.moveup {
      fill: #808080;
      bottom: 40vh;
    }

    &:hover {
      fill: #b3b3b3;
    }
  }

  #heart4 {
    height: 20px;
    &.moveup {
      fill: #b3b3b3;
      bottom: 30vh;
    }

    &:hover {
      fill: #ccc;
    }
  }
}



#sidebar {
  width: 75px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-color: rgba(255,255,255,0);
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
  
  &:hover, &.show{
    background-color: rgba(255,255,255,1);
  }
}

::selection {
    background: rgba(163, 137, 56, 0.4);/* Safari */
}

::-moz-selection {
    background: rgba(163, 137, 56, 0.4); /* Firefox */
}

.page {
  min-height: 560px;
  height: 100vh;
  border: 1px solid rgba(255,255,255,0);

  .title {
    margin-top: 20vh;
    margin-left: 10vw;
    font-size: 10vw;
    line-height: 1;
  }

  .body {
    margin-left: 10vw;
    margin-top: 50px;
    width: 80vw;
    font-size: 2.5vw;
    max-height: 45vh;
    overflow: hidden;
  }
}


#hello {
  .love {
    color: #a38938;
  }
}

#contact {
  .gray {
    color: #8C8C8C;
  }
}

#things {
  .body {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }
}
