.allLogicGates{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif ;
	font-weight: 300;
	overflow: hidden;
	.row{
		border-top: 1px solid #b8ff5c;
		display: block;
		vertical-align: top;
		.onegate{
			//border: 1px solid red;
			display: inline-block;
		}
		.explaination{
			//border: 1px solid orange;
			display: inline-block;
			vertical-align: top;
			padding-top: 50px;
			width: 350px;
			&.makesmaller{
				padding-top:20px;
			}
		}


		.tt{
			//border: 1px solid green;
			display: inline-block;
			vertical-align: top;
			height :160px;
			width: 200px;
			float: right;
		}

		.gate_label{
			width: 35px;
			display: inline-block;
			vertical-align: top;


		}


		.labels{
			width: 70px;
			margin-bottom: -45px;
			
			div{position:relative;}

			.inputx{
				transform:rotate(-45deg);
				-ms-transform:rotate(-45deg); /* IE 9 */
				-webkit-transform:rotate(-45deg); /* Safari and Chrome */
				top: -149px;
				left: 713px;
			}
			.inputy{
				transform:rotate(-45deg);
				-ms-transform:rotate(-45deg); /* IE 9 */
				-webkit-transform:rotate(-45deg); /* Safari and Chrome */
				top: -169px;
				left: 742px;
			}
			.outputz{
				transform:rotate(-45deg);
				-ms-transform:rotate(-45deg); /* IE 9 */
				-webkit-transform:rotate(-45deg); /* Safari and Chrome */
				top: -187px;
				left:783px;
			}

			.inputNOT{
				transform:rotate(-45deg);
				-ms-transform:rotate(-45deg); /* IE 9 */
				-webkit-transform:rotate(-45deg); /* Safari and Chrome */
				top: -148px;
				left:743px;
			}

			.outputNOT{
				transform:rotate(-45deg);
				-ms-transform:rotate(-45deg); /* IE 9 */
				-webkit-transform:rotate(-45deg); /* Safari and Chrome */
				top: -165px;
				left:783px;
			}

		}
	}


}