.slider-widget {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif ;
  font-weight: 300;
  overflow: hidden;

  text-align:center;
  //border: 2px solid black;

  .addShell{ 
    

    vertical-align: middle;
    background-color: none;
    width: 200px;
    //float:right;
    display:none;
    height: 140px;

    .additionEquation{
      height: 120px;
      padding-left:auto;
      margin-right: auto;
      //margin-top: 50px;
      font-family: monospace;
      text-align:right;
      font-size: 30px;
      display:inline-block;
      .carryRow{
        height:27px;
      }
      
      .addendTop{
      
      }
      .sumLine{
        height: 2px;
        background-color:$black;
      }
    }

    
  }

  .s0{
    display:inline-block;
  }


  .current{
    position: relative;
    font-size: 30px;
    display: none;

  }

  

  .text{
    color: $orange;
    margin-left: -25%;
    margin-top: 100px;
    width: 150%;
   
  }

  .blue{
    color: #18e99f;
  }

  
  .navigation{
    width: 200px;
    display:inline-block;
    text-align:left;

    .controls{
      line-height: 24px;
      font-size: 24px;
      div{ 
        display:inline-block;
      }
    }

    #forward_txt,#back_txt{
      color: $purple;
      font-size: 24px;
    }
    .nav-01{
      color: $orange;
    }
  }

  
}