.position-notation{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif ;
  	font-weight: 300;
  	

  	$height : 410px;
  	$width: 783px;

  	.radix_list{
  		height: $height;
  		width: $width+4;
  		 overflow:hidden;		
  		.left{
  			float: left;
  			height: $height;
  			width: $width/2;
		}
  		.right{
  			float: right;
  			height: $height;
  			width: $width/2;
  		}


  		.labels{
  			div{
  				width: 125px;
  				display: inline-block;
  				text-align: right;
  			}
  		}

  		.fourNumbers{
			margin-top: 10px;
  			div{
  				width: 125px;
  				display: inline-block;
  				text-align: right;
  			}
  		}
  	}
  	
}
	