.transistor-widget{
	
	margin-top: -40px;
	overflow:hidden;
	font-family :"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif ;
	

	#n-type{
		position: relative;
		top: -90px;
		left: 78px;
		font-size : 28px;
	}

	#p-type{
		position: relative;
		top: -123px;
		left: 425px;
		font-size : 28px;
	}

	#vcc{
		position: relative;
		top: -431px;
		left: 333px;
		font-size : 14px;
	}

	#gnd{
		position: relative;
		top: -198px;
		left: 333px;
		font-size : 14px;
	}
}

.transistor-and-widget{
	overflow:hidden;
	vertical-align: text-top;

	#ANDgate_and_TT{
		height: 100px;
		width: 100px;
		display:inline-block;
		vertical-align: text-top;
		float: left;
	}

	#transistor-and-ralph{
		margin-top: -45px;
		display:inline-block;
		vertical-align: text-top;
		float: right;
	}
}

.transistor-or-widget{
	overflow:hidden;

	#ORgate_and_TT{
		height: 100px;
		width: 100px;
		display:inline-block;
		vertical-align: text-top;
		float: left;
	}

	#transistor-or-ralph{
		margin-top: -102px;
		display:inline-block;
		vertical-align: text-top;
		float: right;
	}
}

.transistor-xor-widget{
	overflow:hidden;
	#XORgate_and_TT{
		height: 100px;
		width: 100px;
		display:inline-block;
		vertical-align: text-top;
		float: left;
	}

	#transistor-xor-ralph{
		margin-top: -102px;
		display:inline-block;
		vertical-align: text-top;
		float: right;
	}

}